.widget.style1.navy-bg
  .row
    .col-xs-2
      %i{:class => "fa fa-file-#{disclosure.file_type}-o fsize-85"}
    .col-xs-10.text-right
      %span= disclosure.title
      %br
      %br
      = button_to "Delete", user_property_disclosure_path(@user, @property, disclosure), class: "btn btn-xs btn-outline", method: :delete
