.container
  = image_tag attachments["captivatelogo.png"].url, style: "width: 250; margin-left: 39%;"

  -#Css classes are not being loaded. Premailer gem is supposed to handle
  .col-md-8.col-md-offset-2.mt50{style: "width: 50%; margin: 20px auto"}
    .panel.panel-success
      .panel-heading{style: "background-color: #2E2E3F !important; color: #999999; padding: 5px"}
        .panel-title
          %h2.text-center Thanks for signing up.
      .panel-body.pr30.pl30
        %h3.text-center We are sure you are going to love the sites you create with us.
        %p
          You'll only need 15 min to get your first site up and running.
        %p
          So lets get started:
          = link_to "Create a Site Now", root_url

        %h3 Things you can highlight with a property site
        %ul
          %li Property Photos
          %li Agent Info
          %li Neighborhood Info
          %li Property Details


      .panel-footer
        %h5
        = link_to "Captivate Listings", "http://captivatelistings.com", class: "blue underline text-center"
