/*
 * Manifest for guest facing pages.
 * Note that 'guest_pages/guest.css' has been added to Rails.application.config.assets.precompile in assets.rb
 *
 *= require_self
 //= require ../templates/bootstrap.min
 //= require guest_pages/drew_theme
 //= require guest_pages/animate.min
 //= require guest_pages/colors/blue
 //= require ../shared/shared
 //= require s3_direct_upload_progress_bars
 */

// drew_theme.css has overidden bootstrap classes.
// Uncomment next line if need original bootstrap classes.
// @import "bootstrap";

@import "font-awesome";

//////// Styles limited to the landing page \\\\\\\\\\

// Property Pages
// New Page
.hero-fullscreen-new-property-page {
  // TODO need to make this variable height
  height: 3000px !important;
}
.new-property-container {
  bottom: 200px;
}

.property_domain {
  width: 60%;
}

.subdomain-addition {
  position: absolute;
  bottom: 95px;
  left: 347px;
}

.com-addition {
  position: absolute;
  bottom: 95px;
  left: 347px;
  display: none;
}

.domain-checker {
  margin-top: 500px;
  display: none;
}

.domain-checker-text {
  font-size: 21px;
}

// Photos Page
.handle {
  font-size: 30px;
  color: #777;
  cursor: move;
}

img.handle {
  max-height: 100px;
  margin: 10px;
}

ul#photos {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns:3;
}

// Signup & Signin
.section-background-image-size {
  max-width: 100% !important;
}

.darker-form-8 {
  background-color: rgba(0,0,0,0.8) !important;
}
