/*
 * Manifest for guest facing pages.
 * Note that 'guest_pages/guest.css' has been added to Rails.application.config.assets.precompile in assets.rb
 *
 *= require_self
 //= require ../templates/bootstrap.min
 //= require guest_pages/drew_theme
 //= require guest_pages/animate.min
 //= require guest_pages/colors/blue
 //= require ../shared/shared
 //= require s3_direct_upload_progress_bars
 */

// drew_theme.css has overidden bootstrap classes.
// Uncomment next line if need original bootstrap classes.
// @import "bootstrap";

@import "font-awesome";

//////// Styles limited to the landing page. \\\\\\\\\\
// TODO change these to be called landing pages, not guest pages, since site pages are also viewed by guest

// Property Pages
.hero-fullscreen-new-property-page {
  // TODO need to make this variable height
  height: 3000px !important;
}
.new-property-container {
  bottom: 200px;
}

.property_domain {
  width: 60%;
}

.subdomain-addition {
  position: absolute;
  bottom: 95px;
  left: 347px;
}

.com-addition {
  position: absolute;
  bottom: 95px;
  left: 347px;
  display: none;
}

.domain-checker {
  margin-top: 500px;
  display: none;
}

.domain-checker-text {
  font-size: 21px;
}

// Two Column Description Section
#two-cols-description {
  height: 100%;
}

#two-cols-description-non-primary {
  height: 85% !important;
  padding-top: 20px;
}
.two-cols-description-section .section-heading {
  margin-top: 50px;
}

.two-cols-description-section {
  // height: 75%;
}
.two-cols-description-image {
  height: 110%;
  overflow: visible !important;
}

.example-image-header {
  height: 105% !important;
  min-width: auto !important;
  width: auto !important;
  margin-top: 20px !important;
  margin-bottom: 20px !important;
  left: 60px;
  top: -5px;
  // padding-bottom: 40px;
  box-shadow: -5px 8px 20px rgba(0, 0, 0, .5);
}

.live-site-link {
  float: right;
}

// How It Works Section
.how-it-works-icon-container {
  text-align: center;
  margin-bottom: 17px;
  padding-top: 30px;
}

.how-it-works-icon {
  font-size: 75px;
}


// Signup & Signin
.section-background-image-size {
  max-width: 100% !important;
}

.darker-form-8 {
  background-color: rgba(0,0,0,0.8) !important;
}
