/
  HERO
  \=================================
%section#hero.hero-section.hero-layout-simple.hero-fullscreen.hero-slider.section.section-dark
  %ul.section-slider.parallax
    / SECTION SLIDE 1
    %li.section-slide
      .section-background
        / IMAGE BACKGROUND
        .section-background-image.parallax{"data-stellar-ratio" => "0.4"}
          %img{:alt => "", :src => "/assets/background/beach-home.jpg", :style => "opacity: 0.5;"}/
      .container
        .hero-content.parallax
          .hero-content-inner
            .row
              .col-md-12
                .hero-heading{"data-animation" => "fadeIn"}
                  %h1.hero-subtitle Awesome, You're All Done
                  %p.hero-tagline We'll email you when your property is live (under 24 hrs)

                %p.hero-buttons
                  %a.btn.btn-lg.btn-primary{:href => "https://wrapbootstrap.com/theme/drew-all-in-one-marketing-landing-page-WB0350PTJ"} Property FAQ
