<section id="footer" class="footer-section section">
	<div class="container">
		<h2 class="footer-logo text-primary">
      CAPTIVATE LISTINGS
		</h2>
    <h4>
      855 Front St, San Francisco, CA 94111
    </h4>
		<div class="footer-socmed">
			<a href="https://www.facebook.com/captivaterealestate/" target="_blank"><span class="fa fa-facebook"></span></a>
			<a href="https://twitter.com/captivatere" target="_blank"><span class="fa fa-twitter"></span></a>
			<a href="https://instagram.com/captivate_real_estate/" target="_blank"><span class="fa fa-instagram"></span></a>
			<!-- <a href="#" target="_blank"><span class="fa fa-pinterest"></span></a> -->
		</div>
		<div class="footer-copyright">
			&copy; 2015 Captivate Listings | Real Estate Websites
		</div>
	</div>
</section>
