%header#header.header-section.section.section-dark.navbar.navbar-fixed-top
  .container-fluid
    .navbar-header.navbar-left
      / RESPONSIVE MENU BUTTON
      %button.navbar-toggle{"data-target" => "#navigation", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      / HEADER LOGO
      %a.navbar-logo.navbar-brand{:href => "/"}
        / <img src="images/logos/header-logo.png" srcset="images/logos/header-logo@2x.png 2x" alt="Drew">
        Captivate Listings
    %nav#navigation.navigation.navbar-collapse.collapse.navbar-right
      / NAVIGATION LINKS
      %ul#header-nav.nav.navbar-nav
        %li
          %a.hidden{:href => "/#hero"} Top
        %li
          %a{:href => "/#about"} About
        %li
          %a{:href => "/#benefits"} Benefits
        %li
          %a{:href => "/#how-it-works"} How it Works
        %li
          %a{:href => "/#team"} The Team
        %li
          %a{:href => "/#pricing"} Pricing
        / DROPDOWN MENU
        %li.dropdown.dropdown-hover
          %a.dropdown-toggle.external{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
            More
            %span.caret
          %ul.dropdown-menu{:role => "menu"}
            %li
              %a.anchor-link.external{:href => "/#video"} Watch the Video
            %li
              %a.anchor-link.external{:href => "/#portfolio"} Portfolio
            %li
              %a.anchor-link.external{:href => "/#testimonial"} Testimonial
            %li
              %a.anchor-link.external{:href => "/#faq"} FAQ
            %li
              %a.anchor-link.external{:href => "/#maps"} Contact Us
        / HEADER ACTION BUTTON
        %li.header-action-button
          %a.btn.btn-primary{:href => "/signup"} Sign Up

        %li.header-action-button
          %a.btn.btn-primary{:href => "/signin"} Sign In
  - flash.each do |name, message|
    %strong
      %div{:id => "flash", :class => "alert alert-#{name}", :role => "alert"}
        = message
