.row
  .col-md-6
    %h1
      %strong Subscription

    %h2
      %strong Level:
      - if @subscription.level == 1
        Silver
      - elsif @subscription.level == 2
        Gold
      - else
        Error:
        = link_to "Does Not Compute", "https://media.giphy.com/media/5xaOcLCJCLiMAPtgxPO/giphy.gif"

      %br
      = button_to "Cancel", user_subscription_path(@user, @subscription), :method => :delete, class: "btn btn-danger mt10", data: { confirm: "Are you sure?" }
