%main#page{:role => "main"}

  / Main Content Sections
  #content.main-content{"data-collection-id" => "55f1b5bce4b0cc1b9222509b", "data-content-field" => "main-content"}

    - if @property.disabled?
      = render "disabled"

    - else
      / Property Section
      = render "property"

      / Neighborhood Section
      = render "neighborhood"

      / Contact Section
      = render "contact"




/ Javascript
%script{:src => "/assets/site_pages/maplace-0.1.3.min.js"}
%script{"data-sqs-type" => "imageloader-bootstraper", :type => "text/javascript"} (function() {if(window.ImageLoader) { window.ImageLoader.bootstrap(); }})();

:javascript
  Squarespace.afterBodyLoad(Y);

-# %script{:src => "https://code.jquery.com/jquery.js"}
%script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"}
%script{:src => "/assets/site_pages/ekko-lightbox.min.js"}

:javascript
  $(document).ready(function ($) {
    // delegate calls to data-toggle="lightbox"
    $(document).delegate('*[data-toggle="lightbox"]:not([data-gallery="navigateTo"])', 'click', function(event) {
      event.preventDefault();
      return $(this).ekkoLightbox({
        onShown: function() {
          if (window.console) {
            return console.log('Checking our the events huh?');
          }
        },
        onNavigate: function(direction, itemIndex) {
          if (window.console) {
            return console.log('Navigating '+direction+'. Current item: '+itemIndex);
          }
        }
      });
    });

    //Programatically call
    $('#open-image').click(function (e) {
      e.preventDefault();
      $(this).ekkoLightbox();
    });
    $('#open-youtube').click(function (e) {
      e.preventDefault();
      $(this).ekkoLightbox();
    });

    // navigateTo
    $(document).delegate('*[data-gallery="navigateTo"]', 'click', function(event) {
      event.preventDefault();
      return $(this).ekkoLightbox({
        onShown: function() {
          var a = this.modal_content.find('.modal-footer a');
          if(a.length > 0) {
            a.click(function(e) {
              e.preventDefault();
              this.navigateTo(2);
            }.bind(this));
          }
        }
      });
    });
  });
